# Yarn Zero-Installs
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Istanbul code coverage (maybe upload this elsewhere someday)
coverage

dist

.nova
.vscode
.DS_Store
